<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/css text/xml application/x-javascript application/javascript application/xhtml+xml
    <FilesMatch "\\.(js|css|html|htm|xml)$">
    SetOutputFilter DEFLATE
    </FilesMatch>
</IfModule>

# <IfModule mod_rewrite.c>
#     Options +FollowSymlinks
#     RewriteEngine On
#     RewriteCond %{http_host} ^sbjka.com
#     RewriteRule ^(.*) http://www.sbjka.com/$1 [R=301,L]
#
#     RewriteBase /
#
#     # block text files in the content folder from being accessed directly
#     RewriteRule ^content/(.*)\.txt$ error [R=301,L]
#
#     # make site links work
#     RewriteCond %{REQUEST_FILENAME} !-f
#     RewriteCond %{REQUEST_FILENAME} !-d
#     RewriteRule ^(.*) index.html [L]
# </IfModule>

# <IfModule mod_expires.c>
#     ExpiresActive On
#     ExpiresByType image/gif "access plus 1 month"
#     ExpiresByType image/jpeg "access plus 1 month"
#     ExpiresByType image/png "access plus 1 month"
#     ExpiresByType text/css "access plus 1 week"
#     ExpiresByType text/javascript "access plus 1 week"
#     ExpiresByType application/javascript "access plus 1 week"
#     ExpiresByType application/x-javascript "access plus 1 week"
#     ExpiresByType image/x-icon "access plus 1 year"
# </IfModule>

<FilesMatch "\.(htm|html|php)$">
    <IfModule mod_headers.c>
        BrowserMatch MSIE ie
        Header set X-UA-Compatible "IE=Edge,chrome=1" env=ie
    </IfModule>
</FilesMatch>

AddDefaultCharset UTF-8

# ErrorDocument 404 http://sbjka.com/#/404/