<section>
    <h2>Class Schedule</h2>
    <table summary="Santa Barbara JKA Class Schedule">
        <tbody>
            <tr>
                <th></th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
            </tr>
            <tr>
                <td rowspan="2">4pm</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="mid">
                <td></td>
                <td rowspan="2" class="session">
                    <span class="abbr">Beg Yth</span>
                    <span class="full">Beginning Youth</span>
                    <span>(Age 7+)</span>
                    <span>4:30<span class="mer">pm</span> - 5:30<span class="mer">pm</span></span>
                </td>
                <td></td>
                <td rowspan="2" class="session">
                    <span class="abbr">Beg Yth</span>
                    <span class="full">Beginning Youth</span>
                    <span>(Age 7+)</span>
                    <span>4:30<span class="mer">pm</span> - 5:30<span class="mer">pm</span></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">5pm</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="mid">
                <td></td>
                <td rowspan="2" class="session">
                    <span class="abbr">Beg Ad</span>
                    <span class="full">Beginning Adult</span>
                    <span>5:30<span class="mer">pm</span> - 6:30<span class="mer">pm</span>
                </td>
                <td rowspan="2" class="session">
                    <span class="abbr">Beg &#38; Int</span>
                    <span class="full">Beginning &#38; Intermediate</span>
                    <span>
                        <span class="abbr">Adl - Yth</span>
                        <span class="full">Adults - Mixed Youth</span>
                    </span>
                    <span>5:30<span class="mer">pm</span> - 6:30<span class="mer">pm</span>
                </td>
                <td rowspan="2" class="session">
                    <span class="abbr">Beg Ad</span>
                    <span class="full">Beginning Adult</span>
                    <span>5:30<span class="mer">pm</span> - 6:30<span class="mer">pm</span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">6pm</td>
                <td rowspan="5" class="session">
                    <span class="abbr">All</span>
                    <span class="full">All Levels</span>
                    <span>6<span class="mer">pm</span> - 7<span class="mer">pm</span></span>
                    <em>break</em>
                    <span class="abbr">Int to Adv</span>
                    <span class="full">Intermediate - Advanced</span>
                    <span>7<span class="mer">pm</span> - 8<span class="mer">pm</span></span>
                </td>
                <td rowspan="5" class="session">
                    <span class="abbr">All</span>
                    <span class="full">All Levels</span>
                    <span>6<span class="mer">pm</span> - 7<span class="mer">pm</span></span>
                    <em>break</em>
                    <span class="abbr">Int to Adv</span>
                    <span class="full">Intermediate - Advanced</span>
                    <span>7<span class="mer">pm</span> - 8<span class="mer">pm</span></span>
                </td>
            </tr>
            <tr class="mid">
                <td></td>
                <td rowspan="5" class="session">
                    <span class="abbr">Int to Adv</span>
                    <span class="full">Intermediate - Advanced</span>
                    <span>6:30<span class="mer">pm</span> - 8:30<span class="mer">pm</span></span>
                </td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">7pm</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="mid">
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td rowspan="2">8pm</td>
                <td></td>
                <td></td>
            </tr>
            <tr class="mid">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    <p><strong>Please note:</strong> Beginners are only required to stay for the first hour of class.</p>
    <p>Parents are welcome to join their children in the Beginning Youth classes</p>
    <p>No contracts or sign up fees, family discounts available. Come for a week of free training.</p>
    <h3>Membership Fees</h3>
    <ul>
        <li><strong>Adult</strong> - $75/mo</li>
        <li><strong>Youth</strong> - $50/mo</li>
        <li>
            <strong>Introductory Offer</strong>
            <span>Pay for two months, 3rd month FREE!</span>
            <span><em>* Free Uniform Included</em></span>
        </li>
    </ul>
</section>