<footer>
    <div class="c-wrapper">
        <address class="vcard">
            <span class="fn org">Santa Barbara JKA</span>
            <span>Shotokan Karate-Do</span>
            <a class="tel" href="tel:+18059647633">(805) 964-7633</a>
            <a class="adr" href="https://goo.gl/maps/oWRVJ" target="_blank">
                <span class="street-address">4317 State Street</span>
                <span class="locality">Santa Barbara</span>, <span class="region">CA</span> <span class="postal-code">93110</span>
            </a>
        </address>
        <p>Copyright &#169; 2009-2014 Santa Barbara JKA</p>
        <div><a data-ng-click="blurb=!blurb">+ Read more</a></div>
        <div id="sbjka-info" data-ng-show="blurb">Santa Barbara Japan Karate Association Shotokan Karate-Do maintains the highest quality in keeping with Karate's highest tradition. Shotokan Karate is a martial art which focuses on the harmonizing of mind and body, strength, perseverance, patience, all for total confidence and self-mastery. The practicality of Shotokan has been demonstrated throughout its history and can been seen today in MMA(Mixed Martial Arts) arenas. Lyoto Machida, Antonio Silva, Chinzo Machida, John Makdessi, Maciej Górski, all have strong Shotokan Karate foundations demonstrated in their stand up cage fighting skills.</div>
    </div>
</footer>